{% extends 'log.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class="account-content">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-7 col-lg-6 login-left">
				<img src="{{asset ('assets1/img/login-banner.png')}} " class="img-fluid" alt="Doccure Login">
			</div>
			<div class="col-md-12 col-lg-6 login-right">
				<div class="login-header">
					<h3>Forget
						<span>Password</span>
					</h3>
				</div>

				<!-- Forgot Password Form -->
				<form action="https://dreamguys.co.in/demo/doccure/login.html">
					<div class="form-group form-focus">

						{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

						<div class="col-12">
							<label for="yourEmail" class="form-label">Your Email</label>
							{{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
							<div class="invalid-feedback">Please enter a valid Email adddress!</div>
						</div>

						<div class="col-12">
							<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Réinitialiser
							</div>

							{{ form_end(form) }}
						</div>

					</form>
					<!-- /Forgot Password Form -->

				</div>


			{% endblock %}
