<!DOCTYPE html>
<html
	lang="en">

	<!-- doccure/reclamation.html  30 Nov 2019 04:12:20 GMT -->

	<head>
		<meta charset="utf-8">
		<title>Medihouse</title>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<!-- Favicons -->
		<link href="{{asset('assetss/img/favicon1.png')}}" rel="icon">
	</head>

	{%block Header%}

	<a href="index-2.html" class="navbar-brand logo">
		<img src="https://scontent.ftun8-1.fna.fbcdn.net/v/t39.30808-6/334034828_615894303690164_9060453127032596555_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=qKlUsSmK26UAX_pKEfj&_nc_ht=scontent.ftun8-1.fna&oh=00_AfDG9ZEBGWQO_HgRsUccDMgDGjGDNZE1stpUdXBcGhCTnQ&oe=640B67C4" class="img-fluid" alt="">
	</a>


	<!-- Header -->
	{%endblock%}
	<body>

		{%block body%}

		{%endblock%}

	</body>
</html>
